<settings>
    <setting propertyKey="@Properties.ApiKey" title="@Strings.ApiKey" helpUrl="https://aqicn.org/data-platform/token/">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>
    <setting propertyKey="@Properties.FancyScroll" title="@Strings.FancyScrollLabel">
        <settingConfig type="boolean" required="true" />
    </setting>
</settings>
